@use "variables.scss";
@use "mixins.scss";

.pageNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: variables.$section-padding 0;

  @include mixins.respond-to("small") {
    padding: variables.$section-padding-mobile 0;
  }

  &-title {
    @include mixins.large-font();
    @include mixins.title-link-border();
    margin-bottom: 40px;
  }

  &-description {
    font-size: 0.7rem;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
      monospace;
    white-space: pre;
    margin-bottom: 40px;

    @include mixins.respond-to("small") {
      @include mixins.medium-font();
    }
  }
}
