@use "variables.scss";
@use "mixins.scss";

.contact {
  
  h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase; 
  }
  &-section {
    padding-bottom: 25px;
  }
  &-details {
    padding-left: 15px;

  }
  &-section {
    h3 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
    }
    h4 {
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
    }
  }
  &-details a:hover {
    color: #1abc9c;
    text-decoration: none;
  }
}

