@use "variables.scss";
@use "mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&subset=latin%2Clatin-ext");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css");

html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  background-color: variables.$background-light;
}

body {
  font-family: "Lato", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  color: variables.$body-dark;
}

a {
  color: inherit;
  text-decoration: none;
}

.section {
  padding: variables.$section-padding-mobile 0;

  @include mixins.respond-to("small") {
    padding: variables.$section-padding 0;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 40px;
  width: 40px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.5s linear;
  transition-duration: 0.2s;
}

.carousel-control-next-icon:after {
  content: ">";
  font-size: 26px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: "<";
  font-size: 26px;
  color: black;
}

.image-gallery:hover .carousel-control-prev-icon,
.image-gallery:hover .carousel-control-next-icon {
  visibility: visible;
  opacity: 1;
}
