@use "variables.scss";
@use "mixins.scss";
@use "sass:math";

.main-content {
  @include mixins.respond-to("medium") {
    flex-basis: 400px;
  }
}
.home-container {
  max-width: 65%;
  display: flex;
}
.home-header {
  min-height: 200px;

  @include mixins.respond-to("medium") {
    height: 500px;
  }
  &-image-carousel {
    height: 250px;
  }
  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @include mixins.respond-to("small") {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &-image {
    height: 150px;
    margin-bottom: 30px;

    @include mixins.respond-to("small") {
      height: 200px;
      margin-bottom: 0;
    }

    @include mixins.respond-to("medium") {
      height: 300px;
    }
  }

  &-tagline {
    @include mixins.xlarge-font();
    color: variables.$body-light;
    width: 400px;
    text-align: center;
    cursor: default;

    @include mixins.respond-to("small") {
      flex-basis: 430px;
      text-align: left;
      width: 50%;
      align-items: flex-start;
    }

    @include mixins.respond-to("medium") {
      flex-basis: 500px;
    }
  }

  &-taglinePart {
    display: inline;
    @include mixins.title-link-border();
  }
}

.upcomingMeetup {
  color: variables.$body-dark;
  @include mixins.medium-font;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-title {
    @include mixins.large-font;
    margin-bottom: 30px;
  }

  &-detail {
    text-align: center;

    &--date {
      margin-bottom: 10px;
    }
  }

  &-detailLabel {
    font-weight: 400;
  }

  &-presenters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 40px 0;
  }

  &-presenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 100%;
    padding: 20px;
    border: 3px solid rgba(variables.$highlight, 0.2);
    margin: 20px;
  }

  &-presenterImage {
    height: 130px;
    border-radius: 100px;
    margin-bottom: 10px;
  }

  &-presenterName {
    font-weight: 400;
    margin-bottom: 5px;
  }

  &-presenterPresentationTitle {
    @include mixins.small-font;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 5px;
  }

  &-presenterDescription {
    @include mixins.small-font;
  }

  &-mapWrapper {
    position: relative;
    height: 450px;
    width: 100%;
  }

  &-mapNote {
    text-align: center;
    margin-bottom: 10px;
    @include mixins.small-font();
  }
}

.ctaBlock {
  position: relative;
  color: variables.$body-light;

  @include mixins.respond-to("medium") {
    height: 300px;
    @include mixins.medium-font();
  }

  &-pattern {
    display: flex;
    position: relative;

    @include mixins.respond-to("medium") {
      position: absolute;
      align-items: flex-end;
      transition: box-shadow variables.$transition-duration
        cubic-bezier(0.4, 0, 0.3, 1);
    }

    &--first {
      background-color: variables.$highlight-secondary;

      @include mixins.respond-to("medium") {
        justify-content: flex-end;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
      }
    }
    &--second {
      background-color: variables.$background-medium;

      @include mixins.respond-to("medium") {
        bottom: 0;
        right: 0;
        width: 50%;
        height: 100%;
      }
    }

    &:hover {
      z-index: 10;
      box-shadow: 0 4px 15px 5px rgba(0, 0, 0, 0.25);
    }
  }

  &-container {
    height: 100%;
    position: relative;
  }

  &-cta {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px;
    height: 200px;

    @include mixins.respond-to("medium") {
      position: absolute;
      height: unset;
      width: 100vw / 2;
    }

    @include mixins.respond-to("large") {
      width: math.div(variables.$container-width, 2);
    }
  }

  &-ctaHeading {
    @include mixins.large-font();
  }

  &-ctaDescription {
    @include mixins.medium-font();

    @include mixins.respond-to("medium") {
      margin-bottom: 40px;
    }
  }
}
