@import "./variables.scss";
@import "./mixins.scss";

.portfolio {
  &-type {
    text-transform: uppercase; 
  }
  &-jobs {
    margin-left: 25px;
    font-size: 0.9rem;
    padding-top: 5px;
  }
  &-jobs.hidden {
    display: none;
  }
  &-jobs.hidden, .open {
    max-height: 0px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }
  &-jobs.open {
    max-height: 250px;
    opacity: 1;
  }
  dt, dd {
    font-weight: 300;
  }
  dt {
    padding-top: 5px;
  }
  dt::after {
    content: '';
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    display: block;
  }
  dd.portfolio-jobs::after {
    content: '';
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    display: block;
  }
  
  a {
    cursor: pointer;
    transition: .5s;
  }
  a:hover {
    text-decoration: none;
    color: #b7b7b7 !important;
  }
}

