@use "variables.scss";
@use "mixins.scss";

.profile {
  
  &-employee-name {
    margin-bottom: 20px;
    font-size: 24px;
    text-transform: uppercase;
  }
  &-details {
    padding-bottom: 15px;
  }
  &-detail-type {
    h3 {
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
    }
    h4 {
      font-size: 18px;
      font-weight: 300;
      text-transform: none;
    }
  }
}

