@use "../../styles/variables.scss";

.header {
  background-color: variables.$background-light;
  height: variables.$header-height;
  padding: 40px 20px;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,1);
    max-width: 90%;
  }

  &-bottom {
    padding-bottom: 20px;
  }
  &-logo-link {
    background-image: url("/img/logo.png")
  }
  &-container {
    display: inline-block;
    padding:50px;
  }

  &-menu {
    display: flex;
    flex-grow: 0;
    margin-left: auto;
    margin-right: -1rem;
  }

  &-menuItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-menuLink {
    color: variables.$menu-inactive;
    padding: 0 0.5rem;
    margin: 0 0.5rem;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 0.4px;
    transition: all variables.$transition-duration ease-in-out;

    &:hover,
    &--active {
      color: variables.$menu-active;
    }
  }
}
