@import "../../styles/variables";
@import "../../styles/mixins";

.footer {
  background-color: $background-light;
  @include medium-font;
  color: $body-light;
  padding: 20px 20px;

  @include respond-to("small") {
    padding: 40px 20px;
    height: $footer-height;
  }
  &-menu-items > li {
    display: inline;
    text-transform: uppercase; 
    font-size: 17px;
  }
  &-menu-items > li:not(:last-child):after {
    content: "•";
    margin-left: 20px;
    margin-right: 20px;
  }
  &-menu-items > li > a { 
    transition: .5s;
  }

  &-menu-items > li > a:hover { 
    text-decoration: none;
    color: #b7b7b7;
  }

  &-bottom {
    color: $black;
    border-top: 1px solid black;
    text-align: center;
    max-width: 90%;
  }
  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    @include respond-to("small") {
      flex-direction: row;
    }
  }
  &-bottom-container {
    padding: 50px;
  }
  &-top {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 100%;

    @include respond-to("small") {
      flex-direction: row;
    }
  }

  &-about {
    text-align: center;

    @include respond-to("small") {
      text-align: left;
    }
  }

  &-aboutTitleImg {
    max-height: 60px;
    height: auto;
    margin-bottom: 10px;
  }

  &-aboutDescription {
    @include medium-font();
  }

  &-bottom {
    margin-top: auto;
    width: 100%;
  }  

  // when viewport is wider enough to fit footer links
  &-menu-items.mobile {
    @include respond-to("mobile") {
      display:none;
    }
  }
  // when too small
  &-menu-items.desktop {
    @include respond-to-max("mobile") {
      display:none;
    }
  }
  &-menu-items.mobile  > li:not(:last-child):after{
    @include respond-to-max("mobile") {
      display:block;
    }
  }
}